@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 50%, rgba(5,5,91,1) 80%, rgba(9,9,121,1) 100%);

  padding: 0;
  margin: 0;
  border: 0;
}

#container {
  height: 700px;
  width: 900px;
  position: relative;
  background-color: transparent;
}

#game-canvas {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  width: 100%;
}

#invader-info {
  position: absolute;
  bottom: 230px;
  left: 415px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  width: 240px;
  height: 145px;

  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  color: #faf21b;
}

#invader-info p {
  margin: .8em 0em;
  border: 0;
  padding: 0;
}

#splash-instruction {
  position: absolute;
  line-height: 1cm;
  bottom: 120px;
  left: 215px;
  width: 500px;
  height: 40px;

  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  color: #fff;
  letter-spacing: 2px;
}

#audio {
  position: absolute;
  bottom: 10px;
  right: 10px;

  height: 40px;
  width: 40px;
}

#mute {
  position: absolute;
  bottom: 10px;
  right: 10px;

  height: 40px;
  width: 40px;
}

#audio:hover {
  cursor: pointer;
}

#mute:hover {
  cursor: pointer;
}

#menu-button {
  font-family: 'Press Start 2P', cursive;
  font-size: 23px;
  color: #e7e7e7;

  position: absolute;
  top: 11px;
  left: 420px;

  width: 300px;
  height: 30px;
  z-index: 5;
}

#menu-button:hover {
  cursor: pointer;
  color: #faf21b;
}

#menu-container {
  position: absolute;
  bottom: 100px;
  left: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(5,5,91,1) 85%, rgba(9,9,121,1) 100%);
  height: 400px;
  width: 300px;

  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  color: #56bdec;

  border-radius: 10px;
}

.header {
  color: #faf21b;
  text-align: center;
}

.button:hover {
  cursor: pointer;
}

#about-button:hover {
  cursor: pointer;
  color: #faf21b;
}

#about {
  padding: 0 10px 0 10px;

  position: absolute;
  bottom: 100px;
  left: 300px;

  background-color: grey;
  height: 400px;
  width: 300px;

  font-family: 'Bungee Inline', cursive;
  letter-spacing: 1px;
  line-height: 25px;
  color: #000;

  text-align: center;
  border-radius: 10px;
}

#port-link {
  color: #faf21b;
  text-decoration: none;
  transition: color .15s ease-in;
}

#port-link:hover {
  color: #fff;
  transition: color .15s ease-in;
}

#close-about {
  margin-left: 200px;
  margin-top: 5px;
  color: #fff;
}

#close-about:hover {
  cursor: pointer;
  color: #faf21b;
}

#instructions-button:hover {
  cursor: pointer;
  color: #faf21b;
}

#instructions {
  padding: 0 15px 0 15px;

  position: absolute;
  bottom: 100px;
  left: 300px;

  background-color: grey;
  height: 400px;
  width: 300px;

  font-family: 'Bungee Inline', cursive;
  letter-spacing: 1px;
  line-height: 25px;
  color: #000;

  text-align: center;
  border-radius: 10px;
}

#close-instructions {
  margin-left: 200px;
  margin-top: 5px;
  color: #fff;
}

#close-instructions:hover {
  cursor: pointer;
  color: #faf21b;
}

#close-instructions:hover {
  cursor: pointer;
  color: #faf21b;
}

#resume-button:hover {
  cursor: pointer;
  color: #faf21b;
}

#restart-button:hover {
  cursor: pointer;
  color: #faf21b;
}

#main-logo {
  position: absolute;
  top: 10px;
  left: 215px;

  height: 210px;
  width: 500px;
}

#grunt-1 {
  position: absolute;
  left: 355px;
  bottom: 340px;
  height: 30px;
  width: 30px;
}

#soldier-1 {
  position: absolute;
  left: 355px;
  bottom: 285px;

  height: 30px;
  width: 30px;
}

#invader-1 {
  position: absolute;
  left: 355px;
  bottom: 230px;

  height: 30px;
  width: 30px;
}

#ufo {
  position: absolute;
  left: 344px;
  bottom: 185px;

  height: 32px;
  width: 55px;
}

#play-game {
  position: absolute;
  bottom: -150px;
  left: 307px;

  z-index: 5;
  height: 50px;
  width: 300px;
  transition: all .2s ease-in;
  border: 2px solid #fff;
  border-radius: 3px;

  font-family: 'Press Start 2P', cursive;
  font-size: 23px;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  padding:.1em;
}

#play-game:hover {
  cursor: pointer;
  transition: all .3s ease-in;
  background: #37ed1f;
}

#play-game p {
  width: 100%;
  height: 100%;

  position: absolute;
  top: -23px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
  z-index: -5;
}

.show {
  z-index: 5;
}

#game-over {
  position: absolute;
  z-index: 5;
  bottom: 150px;
  left: 180px;
}
